@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

body {
  max-width: 60rem;
  margin: 0 auto;
  overflow: scroll;
  background-image: url("../images/constellation.svg");
  background-color: #0c0c0c;
  font-family: "Source Sans Pro", sans-serif;
  color: #fffcf9;
}

header {
  margin: 50px;
}

#logo {
  width: clamp(4rem, 4rem + 10vw, 10rem);
  margin-right: auto;
  margin-left: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  display: inline;
  text-transform: uppercase;
  list-style-type: none;
  margin: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #fffcf9;
  font-weight: bold;
}

.navbar a:hover {
  color: #6a16f5;
}

#home {
  padding-top: 100px;
  margin-bottom: 50rem;
  margin-left: 3.5rem;
  font-size: 42px;
}

#about {
  margin-left: 3.5rem;
  font-size: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about-header {
  font-size: 30px;
  color: #6a16f5;
}

.about-content-left {
  margin-right: 2rem;
  font-weight: bold;
}

.about-content-right {
  font-size: 75%;
  color: #b5bab7;
}

#projects {
  margin-top: 15rem;
  margin-left: 3.5rem;
  font-size: 30px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 100px;
}

.project-grid-header {
  font-size: 30px;
  text-align: center;
  opacity: 32%;
  margin-top: 5rem;
}

.web-development .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 100px;
  column-gap: 0px;
}

.web-development-header {
  font-size: 30px;
  color: #6a16f5;
}

.web-dev-content-left {
  font-weight: bold;
  margin-right: 2rem;
}

.web-dev-content-right {
  margin-left: 0;
}

.music-production .grid-item {
  font-size: 18px;
  text-align: center;
}

.youtube-vid {
  width: 300px;
  border: 0px;
}

#contact {
  margin-top: 15rem;
  margin-left: 3.5rem;
  font-size: 30px;
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.socials-icon {
  width: 100px;
}

.contact-form {
  padding-top: 20px;
  margin-left: 50px;
}

.contact-form label {
  font-size: 20px;
}

.contact-form input {
  font-size: 20px;
  background-color: #fffcf91e;
  color: #fffcf9;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.contact-form textarea {
  font-size: 20px;
  background-color: #fffcf91e;
  color: #fffcf9;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.contact-form #submit {
  background-color: #fffcf91e;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom-style: hidden;
}

.contact-form #submit:hover {
  background-color: #6a16f5;
}

.resume-table th {
  padding: 1.5rem;
  text-align: left;
}

.resume-table td {
  padding: 1rem;
}

.table-title {
  text-align: center;
}

.work-experience-body tr:hover {
  color: #9866e9;
}

.education-body tr:hover {
  color: #9866e9;
}

.skills-body tr:hover {
  color: #9866e9;
}

.center {
  padding-right: 1rem;
  text-align: center;
}

footer {
  margin-top: 10rem;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .navbar li {
    display: flex;
  }
}
