@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  max-width: 75rem;
  margin: 0 auto;
  background-image: url("../images/topography.svg");
  background-color: #0c0c0c;
  font-family: "Montserrat", sans-serif;
  color: #fffcf9;
  font-size: 16px;
}

header {
  position: sticky;
  top: 2rem;
  z-index: 2;
}

#menu-svg {
  width: 25px;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #navlinks {
  display: none;
  background-color: #0c0c0cda;
}

.topnav a {
  text-decoration: none;
  color: #fffcf9;
  font-weight: bold;
  padding: 14px 16px;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav li {
  display: inline;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0 1rem 0 1rem;
  transition: 0.2s ease-in-out;
}

.topnav a:hover {
  background-color: #dddddd0c;
  color: #644ece;
  transition: color 0.3s ease-in-out;
}
a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1;
}

.navbar li {
  display: inline;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0 1rem 0 1rem;
  transition: 0.2s ease-in-out;
}

.navbar a {
  text-decoration: none;
  color: #fffcf9;
  font-weight: bold;
}

.navbar a:hover {
  color: #644ece;
}

#logo {
  width: clamp(4rem, 4rem + 10vw, 10rem);
  margin-right: auto;
}

#logo-mobile {
  width: clamp(4rem, 4rem + 10vw, 10rem);
  margin-right: auto;
}

#home {
  padding-top: 12rem;
  margin-bottom: 10rem;
}

#home b {
  color: #644ece;
}

#about {
  padding-top: 14rem;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 20rem;
}

.about-header {
  font-size: 100%;
  color: #644ece;
  font-weight: bold;
}

.about-content-left {
  margin-right: 2rem;
  font-weight: bold;
}

.about-content-right {
  font-size: 65%;
  color: #b5bab7;
}

#projects {
  display: flex;
  padding-top: 14rem;
  margin-bottom: 20rem;
}

.card {
  margin: 1rem;
  background: #222;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 16px;
}

.card-subtitle {
  color: #fffcf979;
}

.btn {
  border: 5px solid;
  margin: 0 auto;
  text-decoration: none;
  transition: all 0.4s ease;
  font-size: 1rem;
  background-color: #644ece;
  color: #fffcf9;
  border: none;
  border-radius: 20px;
}

.btn:hover,
.btn:focus {
  border: 5px solid;
  text-decoration: none;
  transition: all 0.4s ease;
  font-size: 1rem;
  background-color: rgb(153, 61, 196);
  color: #fffcf9;
  border: none;
  border-radius: 5px;
}

#contact {
  margin-top: 30rem;
  font-size: 1.5rem;
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

#contact h1 {
  font-size: 100%;
  color: #644ece;
  font-weight: bolder;
}

.socials-icon {
  width: 100%;
  max-width: 100px;
}

.grid-item {
  display: flex;
  justify-content: start;
}

.contact-form {
  padding-top: 7px;
  display: block;
  align-items: center;
}

.contact-form input {
  font-size: 1rem;
  background-color: transparent;
  color: #fffcf9;
  padding: 2rem 0 0 0;
  width: 75%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.contact-form ::placeholder {
  font-size: 1rem;
  opacity: 0.6;
  color: #fffcf9;
}

.contact-form input:hover {
  background-color: #fffcf90e;
}

.contact-form textarea {
  font-size: 1rem;
  background-color: transparent;
  color: #fffcf9;
  padding: 2rem 0 0 0;
  width: 75%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.contact-form textarea:hover {
  background-color: #fffcf90e;
}

.contact-form #submit {
  background-color: #fffcf91e;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 6rem;
  border-bottom-style: hidden;
}

.contact-form #submit:hover {
  background-color: #644ece;
}

footer {
  margin-top: 14rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  body {
    font-size: 1rem;
    padding: 2rem;
  }
  #home {
    font-size: 1.8rem;
  }
  #about {
    font-size: 1.5rem;
  }
  #projects {
    font-size: 1.5rem;
  }
  #contact h1 {
    font-size: 1.8rem;
  }
  .about-content-left,
  .about-content-right {
    margin: 0;
  }
  #home,
  #about,
  #projects,
  #contact {
    padding-top: 7rem;
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1.2rem;
    padding: 2rem;
  }
  .topnav {
    display: none;
  }
  #home {
    font-size: 2.2rem;
  }
  #about {
    font-size: 1.8rem;
  }
  #projects {
    font-size: 1.5rem;
  }
  #contact h1 {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .topnav {
    display: none;
  }
  body {
    font-size: 1.4rem;
    padding: 2rem;
  }
  #home {
    font-size: 2.5rem;
  }
  #projects {
    font-size: 1.5rem;
  }
  #contact h1 {
    font-size: 2.5rem;
  }
}
